﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% end %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <script src="/static/work/logic.js"></script>
    
    <div class="container">
        <div class="jumbotron">
            <h1>Python tornado application</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="mainform" class="form-horizontal" action="/login" method="post" onsubmit="validateForm();">
                    
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="name" name="name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="password" name="password" id="password" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-sm-2 control-label">e-mail</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="email" id="email" />
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="alert alert-danger alert-dismissible collapse" id="mail-alert">
                                <button href="#" class="close" id="alert-close" type=button onclick="collapseAlert()">&times;</button>
                                <strong>Warning:</strong> e-mail address does not match standard.
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>

</form>
            </div> 
        </div>
    </div>

        <script src="/static/scripts/jquery-3.1.1.min.js"></script>
        <script src="/static/scripts/bootstrap.min.js"></script>
        
</body>
</html>